
* {
    box-sizing: border-box;
    image;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #05386b;
  padding: 20px;
  text-align: center;
  color: #379683;
  font-family: Lato,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7;
}

/* makes sure centered images are centered */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #379683;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #05386b;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.content img {

  width: 300px;
  height: 300px;  

}

.content {
  background-color:whitesmoke;
  display: flex;
  text-align: center;
  color: #05386b;
}

.column {
  flex: 33.33%;
  padding: 10px;
}

#container {
  width:100%;
  text-align:center;
}

/* body font color as well as font */
body {
  font-family: Lato,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7;
  color: #555;
  text-align: left;
  margin-left: 20px;
  word-break: break-word;
}

h2 {
  color: #379683;
}

h1 {
  color: #05386b;
  text-align: center;
}

