<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}


  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  <footer>
  <br>
  <hr>
  <br>
  <div>
    We are the Living Peacefully Team under the Everyday Security Project at the NC State University. <br>
    Our mission is to provide reliable and up-to-date intimate partner violence (IPV) information to the public.
  </div>
    
<br>
</footer>
  </body>

</html>
