<!DOCTYPE html>
<html lang="en">

<head>
<title>Home Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" type = "text/css" href = "assets/css/style.css">

</head>

<body>

<div class="header">
  <a href="">
    <img src="images/livingpeacefully.png" width=746 height=239>
  </a>
  <p>Our website is an education portal for intimate partner stalking</p>
</div>

<div class="topnav">
  <a href="difficulties">Difficulties</a>
  <a href="FirstAid">First Aid</a>
  <a href="whattodo">What To Do</a>
  <a href="RevengePorn">Ways of IPV</a>
  <a href="trackingapp">Tracking App</a>
</div>
  
  <div>
    <h1>
      Our website is an education portal for intimate partner voilence. You can find resouces here to help you <strong>prevent</strong> or <strong>recover</strong> from IPV
    </h1>
  </div>
  <hr>
  <div class="content">
    <div class="column"style="width:100%"> 
      <a href="pages/prevention_page.html">
        <img src="images/prevention.png">
      </a>
        <p>Here you can find helpful tips on preventing IPV</p>
    </div>
    <div class="column" style="width:100%">
      <a href="pages/WhatToDo.md">
        <img src="images/manifestations.png">
      </a>
      <p>Here you can find some examples of IPV</p>
    </div>
    <div class="column" style="width:100%"> 
      <a href="pages/WhatToDo.md">
        <img src="images/recovery.png">
      </a>
      <p>Here you can find some information on recovering from IPV</p>
    </div>
    <div class="column" style="width:100%">
      <a href="pages/WhatToDo.md">
        <img src="images/taking_action.png">
      </a>
      <p>Here you can find information about the next step after experiencing IPV</p>
    </div>
  </div>
  <div class="wrapper">
        {{ content }}
   </div>

</body>
</html>
