<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body>

<div class="header">
    <img src="images/livingpeacefully.png" class="responsive-content" width=746 height=239>
</div>

<div class="topnav" id="myTopnav">
  {% assign sorted_pages = site.pages | sort:"order" %}
  {% for node in sorted_pages %}
    {% if node.title %}
     <a href="{{ site.baseurl }}{{ node.url }}">{{node.title}}</a>
	{% endif %}
  {% endfor %}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
  
  <div>
    <h1>
      Our website is an education portal for intimate partner violence. You can find resouces here to help you <strong>prevent</strong> or <strong>recover</strong> from IPV
    </h1>
  </div>
  <hr>
  <div class="content">
    <div class="column"style="width:100%"> 
      <a href="pages/prevention_page.html">
        <img src="images/prevention.png" class="responsive-content">
      </a>
        <p>Here you can find helpful tips on preventing IPV</p>
    </div>
    <div class="column" style="width:100%">
      <a href="pages/WhatToDo.md">
        <img src="images/manifestations.png" class="responsive-content">
      </a>
      <p>Here you can find some examples of IPV</p>
    </div>
    <div class="column" style="width:100%"> 
      <a href="pages/WhatToDo.md">
        <img src="images/recovery.png" class="responsive-content">
      </a>
      <p>Here you can find some information on recovering from IPV</p>
    </div>
    <div class="column" style="width:100%">
      <a href="pages/WhatToDo.md">
        <img src="images/taking_action.png" class="responsive-content">
      </a>
      <p>Here you can find information about the next step after experiencing IPV</p>
    </div>
  </div>
  <div class="wrapper">
        {{ content }}
   </div>
   <script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}
	</script>
<footer>
  <br>
  <hr>
  <br>
  <div>
    We are the Living Peacefully Team under the Everyday Security Project at the NC State University. <br>
    Our mission is to provide reliable and up-to-date intimate partner violence (IPV) information to the public.
  </div>
    
<br>
</footer>
</body>
</html>
